{template 'header'}
<div class="content" style="/*box-shadow: rgba(0, 0, 0, .50) 0 0 10px;transform: translate(50%, 0px);*/">
	<div class="scroll-content dwz-scroll" >
		<div class="scroll">
			<div class="m-panel">
				
				<div class="panel-content">
					<div class="grids-contant">
						<a class="grids-grid" href="service_appoin1.html">
							<div class="grids-grid-icon"><img src="images/icon-png/icon-y-12.png" alt=""></div>
							<p class="grids-grid-label">预约保养</p>
						</a>
						<a class="grids-grid" href="service_rescue.html">
							<div class="grids-grid-icon"><img src="images/icon-png/icon-y-11.png" alt=""></div>
							<p class="grids-grid-label">紧急救援</p>
						</a>
						<a class="grids-grid"  rel="service_violation" href="service_violation.html">
							<div class="grids-grid-icon"><img src="images/icon-png/icon-y-10.png" alt=""></div>
							<p class="grids-grid-label">违章代缴</p>
						</a>
						<a class="grids-grid" href="my-featured.html">
							<div class="grids-grid-icon"><img src="images/icon-png/icon-y-9.png" alt=""></div>
							<p class="grids-grid-label">推荐购车</p>
						</a>
						<a class="grids-grid" href="service_appoin.html">
							<div class="grids-grid-icon"><img src="images/icon-png/icon-y-8.png" alt=""></div>
							<p class="grids-grid-label">预约维修</p>
						</a>
						<a class="grids-grid" href="service-dealers.html">
							<div class="grids-grid-icon"><img src="images/icon-png/icon-y-7.png" alt=""></div>
							<p class="grids-grid-label">经销商查询</p>
						</a>
						<a class="grids-grid" href="anti-fake.html">
							<div class="grids-grid-icon"><img src="images/icon-png/icon-s-17.png" alt=""></div><!-- 更换图标  -->
							<p class="grids-grid-label">配件防伪</p>
						</a>
						<a class="grids-grid" href="service_insurance.html">
							<div class="grids-grid-icon"><img src="images/icon-png/icon-y-5.png" alt=""></div>
							<p class="grids-grid-label">保险服务</p>
						</a>
						<a class="grids-grid" href="service_traffic.html">
							<div class="grids-grid-icon"><img src="images/icon-png/icon-y-4.png" alt=""></div>
							<p class="grids-grid-label">限行查询</p>
						</a>
					
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

      


{template 'footer'}