
	<div class="tab-bar tab-bottom">
        <a class="loading tab-button {if $from == 'index'}active{/if}" href="page.php?from=index&ac=index"><i class="tab-button-icon icon icon-home"></i><span class="tab-button-txt">首页</span></a>
        <a class="loading tab-button {if $from == 'apply'}active{/if}" onclick="$.From('apply')" href="javascript:;"><i class="tab-button-icon icon icon-exhibition"></i><span class="tab-button-txt">领用</span></a>

        <a class="loading tab-button {if $from == 'action'}active{/if}" href="page.php?from=action&ac=index&func=my_action"><i class="tab-button-icon icon icon-service"></i><span class="tab-button-txt">处理</span></a>
        
        <a class="loading tab-button {if $from == 'my'}active{/if}" href="page.php?from=my&ac=index&func=my_goods"><i class="tab-button-icon icon icon-my"></i><span class="tab-button-txt">我的</span></a>
    </div>
</body>
</html>
